body{
    background-color: #000;
}
.Dropdown-btn{
    background-color: #FFF;
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    box-shadow: 0px 3px 3px rgb(208, 208, 208,0.2);
}
.dropdown-content a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #c4c3c0;

}
.dropdown:hover .Dropdown-btn{
    background-color: #d4cc00;
}
.dropdown:hover .dropdown-content{
    display: block;
}
p{
    color: #FFF;
}